<html>
<head>
  <title>Brandon Tilley | {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="alternate" type="application/atom+xml" title="brandontilley.com Atom Feed" href="/atom.xml" />
  <link rel="stylesheet" href="/styles/site.css" type="text/css" />
  <link rel="stylesheet" href="/styles/code.css" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Ubuntu|Cuprum|Vollkorn' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="container">

<div id="header">
  <h1>Brandon Tilley</h1>
  <h2>From the mind of a geek</h2>
  <ul id="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
</div>

{{ content }}

</div>
</body>
</html>