<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} | Brandon Tilley</title>
  <link rel="alternate" type="application/atom+xml" title="brandontilley.com Atom Feed" href="/atom.xml" />
  <link rel="stylesheet" href="/styles/site.css" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Ubuntu|Lato|Yanone Kaffeesatz' rel='stylesheet' type='text/css' />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta property="fb:app_id" content="200178680014727" />
  <meta property="fb:admins" content="1017411194" />
  {% if page.url == "/" or page.url == "/index.html" %}
  <meta property="og:type" content="blog" />
  <meta property="og:title" content="BrandonTilley.com" />
  <meta property="og:description" content="Musings from the mind of a geek." />
  {% else %}
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title | strip_html | replace:'"','&#34;' }}" />
  <meta property="og:description" content="{{ page.description | strip_html | replace:'"','&#34;' }}" />
  {% endif %}
  <meta property="og:site_name" content="BrandonTilley.com" />
  <script>document.createElement("gist");</script>
  <style>
  gist {display: inline;}
  </style>
</head>
<body>
<div id="container">

<div id="header">
  <h1>Brandon Tilley</h1>
  <h2>From the mind of a geek</h2>
  <ul id="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
</div>

{{ content }}

</div>


<script>
(function(){
    var gists = document.getElementsByTagName('gist');
    function embed(id, file, i, tag) {
        window['embed_gist_'+i] = function(gist) {
            var tmp = document.createElement('div');
            tmp.innerHTML = gist.div;
            tag.parentNode.replaceChild(tmp.firstChild, tag);
        };
        var url = 'https://gist.github.com/'+id+'.json?callback=embed_gist_'+i;
        if(file) {
            url += '&file='+file;
        }
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = url;
        document.head.appendChild(script);
        tag.innerHTML = "<div class='gist'><div class='gist-file'><div class='gist-meta'>" +
          "<img src='/images/github-mark.png' width='16' height='16' style='margin: 0; float: right;'> " +
          "Loading <a href='#'>" + file + "</a> from GitHub..." +
          "</div></div></div>"
    }
    for(var i=0; i<gists.length; i++) {
        var id = gists[i].getAttribute('data-id');
        var file = gists[i].getAttribute('data-file');
        if(id) {
            embed(id, file, i, gists[i]);
        }
    }
})();
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3812928-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script src="http://connect.facebook.net/en_US/all.js#appId=200178680014727&amp;xfbml=1"></script>
</body>
</html>
