* {
  margin-top: 5px;
  margin-bottom: 10px;
}

li {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', corbel, 'lucida grande', helvetica, sans-serif;
  margin-bottom: 50px;
}

.when {
  font-family: 'Lato', corbel, 'lucida grande', helvetica, sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
}

div#container {
  width: 900px;
  position: relative;
  left: 50%;
  margin-left: -450px;
}

#header {
  margin-bottom: 35px;
}

#header h1, #header h2 {
  font-family: 'Ubuntu', arial, sans-serif;
  font-weight: normal;
  text-align: center;
}

#header h1 {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 44px;
}

#header h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 26px;
}

#header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#header ul li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
}

div#home ul.posts {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;
}

div#home ul.posts li {
  margin-bottom: 10px;
}

div#home ul.posts div.date {
  width: 200px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  font-size: 24px;
  vertical-align: top;
}

div#home ul.posts div.title {
  width: 650px;
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
  vertical-align: top;
}

div#home ul.posts div.title .small {
  font-size: 18px;
  line-height: 1.3;
}

div.post h1.title {
  font-family: 'Yanone Kaffeesatz', arial, sans-serif;
  font-size: 34px;
  border-bottom: 1px solid black;
  margin-bottom: 3px;
  font-weight: normal;
  letter-spacing: 1.2;
}

div.post div.content {
  padding-left: 10px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.25px;
  word-spacing: 1.2;
}

div.post div.content h1 {
  font-size: 32px;
}

div.post {
  margin-bottom: 50px;
}

div.post div.content h1, div.post div.content h2, div.post div.content h3,
div.post div.content h4, div.post div.content h5, div.post div.content h6,
div.post div.content p, div.post div.content blockquote {
  margin-top: 10px;
  margin-bottom: 15px;
}

div.post div.content h1, div.post div.content h2, div.post div.content h3,
div.post div.content h4, div.post div.content h5, div.post div.content h6 {
  font-family: 'Yanone Kaffeesatz', arial, sans-serif;
  font-weight: normal;
  letter-spacing: 1.2;
}

.CodeRay {
  font-size: 14px;
}

table.CodeRay {
  border: 1px solid #C0C0C0;
  background-color: #def;
}

table.CodeRay td.line_numbers {
  padding-right: 5px;
  color: gray;
  text-align: right;
  border-right: 1px solid #C0C0C0;
}

table.CodeRay td.code {
  margin-right: 5px;
  background-color: #F8F8F8;
  color: gray;
  overflow: auto;
}

div#page_nav {
  text-align: center;
  font-size: 125%;
}

code {
  display: inline-block;
  font-size: 12pt;
  border: 1px solid #DEDEDE;
  background-color: #F8F8FF;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0;
}

div.post pre {
  font-size: 10pt;
  overflow: auto;
}

div.gist-meta {
  padding: 5px ! important;
  margin: 0px ! important;
  font-size: 8pt ! important;
}

div.post blockquote {
  color: #555;
}

.gist .line {
  margin: 1px;
  /*letter-spacing: 0.1px;*/
  line-height: 1;
  height: 15px;
}